.lspp_bg {
  background: var(--color03);
  margin: 20px 0;
  padding: 50px;
  border-radius: var(--mainradius);
}
.lspp_prevtle {
  font: 20px var(--font-h4);
  letter-spacing: 1px;
  background: var(--gradient);
  width: 160px;
  text-align: center;
  color: var(--colorfont);
  border-radius: var(--radiusbis);
  padding: 5px 10px 4px 10px;
}
.lspp_content {
  margin-top: 20px;
  font: 14px var(--font-text);
  color: var(--colorfont);
  text-align: justify;
}
