/* ===================================== DÉBUT INDEX_BOX ===================================== */
/* - LIENS UTILES CTG - */

.lithium-ib_toplink {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.lithium-ib_linksleft,
.lithium-ib_linksright {
  display: flex;
  gap: 10px;
}

.lithium-ib_linksleft {
  justify-content: flex-start;
}

.lithium-ib_linksright {
  justify-content: flex-end;
}

.lithium-ib_linksleft > div,
.lithium-ib_linksright > div {
  background-color: var(--color03);
  border-radius: var(--radiusbis);
  padding: 8px;
  text-align: center;
  transition: 0.3s;
}

.lithium-ib_linksleft > divdiv:hover,
.lithium-ib_linksright > divdiv:hover {
  background: rgba(255,255,255,0.05);
}

.lithium-ib_toplink a {
  position: relative;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lithium-ib_toplink a::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--colornews);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: 0.3s;
}

.lithium-ib_toplink a:hover::before {
  transform: scale(1.2) rotate(6deg);
  background: linear-gradient(to right, var(--colornews), var(--coloradd));
}

.lithium-ib_toplink a::after {
  content: attr(data-title);
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  background: linear-gradient(
    135deg,
    var(--colornews),
    var(--coloradd)
  );
  
  color: #fff;
  font-size: 11px;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(6px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: all 0.25s ease;
}

.lithium-ib_toplink a:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
a[href*="search_id=newposts"]::before { mask-image: url("https://unpkg.com/lucide-static/icons/flame.svg"); }
a[href*="search_id=egosearch"]::before { mask-image: url("https://unpkg.com/lucide-static/icons/inbox.svg"); }
a[href*="search_id=unanswered"]::before { mask-image: url("https://unpkg.com/lucide-static/icons/message-circle.svg"); }
a[href*="mark=forums"]::before { mask-image: url("https://unpkg.com/lucide-static/icons/check-circle.svg"); }
a[href*="search_id=activetopics"]::before { mask-image: url("https://unpkg.com/lucide-static/icons/calendar.svg"); }
a[href*="poster"]::before { mask-image: url("https://unpkg.com/lucide-static/icons/trophy.svg"); }
a[href*="overall"]::before { mask-image: url("https://unpkg.com/lucide-static/icons/bar-chart-2.svg"); }
a[href*="delete_cookies"]::before { mask-image: url("https://unpkg.com/lucide-static/icons/trash-2.svg"); }

/* titre des catégories */
.lithium-id_catetle {
  margin: 100px 0;
  position:relative;
}

.lithium-id_catetle::before, lithium-mb_tle::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-image: var(--imgctg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  pointer-events: none; 
}

.lithium-id_catetle > h2 {
  font: 20px var(--font-h1);
  text-transform: uppercase;
  background-color: var(--bgcolor);
  text-align: center;
  border-radius: 100px;
  position: relative;
  z-index:20;
  padding: 0 10px;
  color: var(--colorfont);
  width: 100%;
  letter-spacing: 5px;
}

.lithium-id_catetle > h2::before {
  content: "";
  position: absolute;
  background-color: var(--color03);
  width: 1010px;
  height: 5px;
  border-radius: var(--mainradius);
  left: 0;
  z-index: -1;
  margin: 10px 0;
}

.lithium-ib_ctebackground {
  width: 100%;
  height: 125px;
  background-color: var(--color02);
  display: flex;
  flex-wrap: wrap;
  border:1px solid var(--color03);
  position:relative;
  z-index:10;
  margin:10px 0;
  border-radius: var(--mainradius);
  justify-content: space-between;
}

/* bloc qui gère l'affichage des avatars + l'image de statut des forums (new / no new / lock ) */
.lithium-ib_avablock {
  width: 110px;
  height: 110px;
  margin: 10px 0;
}

/* placement et taille avatar */
.lithium-ib_avatar {
  margin: -95px 15px;
  width: 80px;
  height: 80px; 
}

/* gère l'affichage avatar */
.lithium-ib_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

/* gère l'affichage des images de statut de forum */
dl.icon.ib-ctg {
  min-height: 110px;
  background-position: center !important;
  background-size: 110px 110px !important;
  border-radius: 0 100px 100px 0;
}

/* titre des forums + sous-forum */
.lithium-ib_titleblock {
  width: 900px;
  height:40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* gère la ligne du titre forum */
.lithium-ib_titleblock::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: var(--colornews);
  width: 860px;
  margin: 29px 27px;
  height: 1px;
}

/* mise en page sous-forum global */
.lithium-ib_subfrm {
  background-color: var(--color02);
  height: 15px;
  margin: 19px 20px;
  font-size: 0;
  position: relative;
  z-index: 10;
  padding: 0 10px;
}

.lithium-ib_subfrm.transparent {
  background-color: transparent;
}

/* affichage sous-forum individuel */
.lithium-ib_subfrm a {
  display: inline-block;
  background-color: var(--colorfont);
  font: 14px var(--font-h4);
  border-radius: var(--mainradius);
  height: 15px;
  padding: 0px 10px;
  margin: 0 10px 0 0;
  text-transform: lowercase;
  text-decoration: none;
}

/* titre forum */
.lithium-ib_titlefrm {
  text-align: right;
  margin: 10px;
  background-color: var(--color02);
  position: relative;
  z-index: 10;
  padding: 0 0 0 25px;
}

.lithium-ib_titlefrm a {
  font: 25px var(--font-h3);
  text-transform: uppercase;
  background: linear-gradient(to right, var(--colornews), var(--coloradd));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lithium-ib_blockinfo {
  width: 865px;
  margin: -80px 0 0 140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* block description */
.lithium-ib_blockdesc { 
  width:480px;
}

.lithium-ib_blockdesc > p {
  overflow: auto;
  height: 40px;
  text-align: justify;
  font: 12px var(--font-text);
  color: var(--colorfont);
  font-style: italic;
  border-left: 2px solid var(--coloradd);
  padding-left: 10px;
}

.lithium-ib_blockdesc > p::-webkit-scrollbar {
  display: none;
} 

.lithium-ib_blockdesc > div {
  text-align: center;
  float: right;
  height: 15px;
  width: 135px;
  font: 11px var(--font-text);
  color: var(--colornews);
  background-color: var(--color03);
  font-style: italic;
  text-transform: lowercase;
  margin: -7px 0;
  border-radius: var(--radiusbis);
}

.lithium-ib_blockdesc img {
  height: 61px;
  width: 170px;
  border-radius: var(--mainradius);
  filter: var(--avafilter);
  object-fit: cover;
  position: absolute;
  outline: 1px solid var(--color02);
  outline-offset: 3px;
  margin: 3px 481px;
}

.lithium-ib_lastpost {
  width: 190px;
  font: 12px var(--font-h2);
  text-align: center;
  border-radius: var(--mainradius);
  height: 42px;
  background-color: var(--color03);
  display: flex;
  flex-direction: column;
}

a.lithium-ib_latesttopic {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font: 15px var(--font-h3);
  text-transform:uppercase;
  color: var(--colornews);
  text-decoration: none;
  padding: 6px 10px;
  border-radius: var(--radiusbis);
}

.lithium-ib_user {
  font: 10px var(--font-text);
  color: var(--colorfont);
  margin: -5px -20px;
  background: transparent;
}

.last-post-icon {
  width: 14px;
  position: absolute;
  height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: -25px 77px;
  border-radius: var(--mainradius);
  background: var(--bordercolor);
}

.last-post-icon img {
  width: 14px;
  height: 14px;
  object-fit: contain;
  display: block;
}

/* ===================================== FIN INDEX_BOX ===================================== */
