/* ===================================== DÉBUT INDEX_BODY (QEEL) ===================================== */

.hub-indbo_qeeldeco {
  width: 70%;
  text-align: justify;
  padding: 0 0 0 25px;
  border-left: var(--coloradd) solid;
  color: var(--bordercolor);
  margin: 80px auto;
  font: 13px var(--font-h3);
}

.hub-indbo_title {
  position:relative;
  margin: 200px 0 20px 0;
}

.hub-indbo_title::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: var(--imgqeel);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -100px;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  pointer-events: none; 
}

.hub-indbo_title > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font: 20px var(--font-h1);
  text-transform: uppercase;
  background-color: var(--bgcolor);
  text-align: center;
  border-radius: 100px;
  position: relative;
  z-index: 20;
  padding: 0 10px;
  color: var(--colorfont);
  width: 100%;
  letter-spacing: 5px;
}

.hub-indbo_title > h2::before,
.hub-indbo_title > h2::after {
  content: "";
  height: 5px;
  background-color: var(--color03);
  border-radius: var(--mainradius);
  flex: 1;
}

.hub-indbo_title > h2::before {
  margin-right: 10px;
}

.hub-indbo_title > h2::after {
  margin-left: 10px;
}

.hub-indbo_background {
  background-color: var(--color02);
  width: 100%;
  padding: 10px;
  border-radius: var(--mainradius);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hub-indbo_leftblock {
  width: 350px;
  height: 150px;
  background-color: var(--color03);
  padding: 15px;
  border-radius: var(--mainradius);
}

#hub-indbo_container {
  height:70px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.qeel-label {
  font: 17px var(--font-h4);
  color: var(--colorfont);
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid var(--coloradd);
  text-transform: uppercase;
}

#logged_in_user_list {
  display: flex;
  flex-wrap: wrap;
  font-size:0;
  gap:0 3px;
  overflow: auto;
  text-align: justify;
  text-transform: lowercase;
}

#logged_in_user_list a {
  font: 12px var(--font-h3);
  padding: 10px 0;
}

  #logged_in_user_list a:not(:last-child)::after {
  content: ", ";
  color: #fff;
}

.hub-indbo_middleblock {
  width: 300px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hub-indbo_blocava {
  position: relative;
}

#ava_lastmember {
  width: 300px;
  height: 80px;
  display: block;
  border-radius: var(--radiusbis);
  overflow: hidden;
}

#ava_lastmember img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#newest_user {
  position: absolute;
  top:35%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#newest_user a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

#newest_user strong {
  color: var(--colorfont);
  display: block;
  text-align: center;
  line-height: 10px;
  height: 10px;
}

#hub-indbo_stats {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font: 14px var(--font-h4);
}

.stat-users, .stat-posts {
  width: 145px;
  border-radius: 20px;
  color: var(--colornews);
  margin:10px 0;
  background-color: var(--color03);
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-align: center;
}

#last_user_online {
  font: 14px var(--font-h4);
  color: var(--avafilter);
  text-align: center;
}

.hub-indbo_rightblock {
  width:300px;
}

.hub-indbo_rightblock h1 {
  font: 17px var(--font-h4);
  border-bottom: 1px var(--coloradd) solid;
  color: var(--colornews);
  letter-spacing: 0.5px;
  padding: 5px 0;
}

.hub-indbo_rightblock > p {
  text-transform: lowercase;
  padding: 10px 0;
  text-align: justify;
  height: 95px;
  font: 12px var(--font-h3);
  overflow: auto;
  color: var(--colorfont);
}

.hub-indbo_groups {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-between;
  margin:10px 0;
}

.hub-indbo_groups > div {
  position: relative;
  --hover-color: white;
  width: 135px;
  font: 11px var(--font-h3);
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 30px;
  border-radius: var(--mainradius);
  height: 30px;
  background-color: var(--color03);
  overflow: hidden;
  transition: color 0.3s ease;
  --c: currentColor;
}

.hub-indbo_groups > div::after {
  content: "";
  position: absolute;
  inset: 4px; 
  border: 1px solid currentColor;
  pointer-events: none;
  border-radius: 3px; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  z-index:2;
}

.hub-indbo_groups > div::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--c);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
  z-index: 0;
}

.hub-indbo_groups > div span {
  position: relative;
  z-index: 3;
}

.hub-indbo_groups > div:hover {
  color: white; 
}

.hub-indbo_groups > div:hover::before {
  transform: scaleY(1);
}

.hub-indbo_groups > div:hover::after {
  border-color: var(--hover-color);
  box-shadow: 0 0 6px var(--hover-color);
}

.hub-indbo_groups > div:hover span {
  color: white;
}
