/* gère l'affichage de l'éditeur de texte */
.lspb_boxbg {
  background-color: var(--color03);
  border-radius: var(--mainradius);
  margin-top: 10px;
  padding: 15px;
}
.lspb_boxbgtle {
  font: 30px var(--font-h2);
  text-transform: uppercase;
  text-align: center;
  background: var(--gradient);
  border-radius: var(--radiusbis);
  color: var(--colorfont);
  margin-top: 20px;
}
