/* ----- topic_list_box ----- */
.lithium-tlb_titlerow {
  display: flex;
  align-items: center;
  width: 100%;
  font: 20px var(--font-h3);
  z-index: 3;
  position: relative;
  font-weight: 600;
  color: var(--colorfont);
  text-transform: uppercase;
  margin: 25px 0 0;
}
.lithium-tlb_titlerow::after {
  content: "";
  flex: 1;
  height: 1px;
  margin-left: 15px;
  background: linear-gradient(
    90deg,
    var(--colornews),
    var(--coloradd)
  );
}
.lithium-tlb_backgroundnone {
  width: 100%;
  background-color: var(--color02);
  border: 1px solid var(--color03);
  padding: 30px;
  border-radius: var(--radiusbis);
  margin: 20px 0;
  font: 12px var(--font-text);
  color: var(--colorfont);
  text-align: center;
  text-transform: uppercase;
}
.lithium-tlb_background {
  background-color: var(--color02) !important;
  margin: 10px 0;
  height: 60px;
  display: flex;
  border: 1px solid var(--color03);
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: var(--radiusbis);
}
.lithium-tlb_blocktitle {
  margin: 5px 10px 10px 10px;
  display: flex;
  width: 930px;
  flex-wrap: wrap;
  position:relative;
  z-index:100;
}
.lithium-tlb_topicauth {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 700px;
  gap: 10px;
}
.lithium-tlb_topictleFRM {
  font: 20px var(--font-h4);
  text-transform: uppercase;
}
.lithium-tlb_topictleFRM a {
  color:var(--colorfont);
}
.announcement .lithium-tlb_topictleFRM {
  display: flex;
  align-items: center;
  gap: 8px;
}
.announcement .lithium-tlb_topictleFRM::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: linear-gradient(
    90deg,
    var(--colornews),
    var(--coloradd)
  );
  -webkit-mask: url("https://unpkg.com/lucide-static/icons/alert-circle.svg") center / contain no-repeat;
  mask: url("https://unpkg.com/lucide-static/icons/alert-circle.svg") center / contain no-repeat;
}
.lithium-tlb_author {
  display: inline-flex;
  align-items: center;
  background-color: var(--border);
  height: 16px;
  font: 12px var(--font-text);
  border-radius: var(--mainradius);
  color: var(--bordercolor);
  padding: 0 10px;
}
.lithium-tlb_topicauth img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  display: inline-flex;
  align-items: center;
  margin-left: 6px;
  filter: brightness(0) saturate(100%) 
          invert(65%) sepia(20%) 
          saturate(400%) hue-rotate(230deg);
  opacity: 0.8;
  transition: all 0.2s ease;
}
.lithium-tlb_blockstats {
  margin: 10px;
  width:210px;
}
.lithium-tlb_pages::before {
  content: none;
}
.lithium-tlb_pages.has-pages::before {
  content: "Aller à la page →";
  position: absolute;
  text-transform: uppercase;
  font: 8px var(--font-text);
  margin: 0px -110px;
  letter-spacing: 1px;
  color: var(--bordercolor);
}
.lithium-tlb_pages .pagination > span {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  margin: -3px;
  font-size: 10px;
}
.pagination span.page-sep {
  display: block;
}
.lithium-tlb_pages .pagination span a:link,
.lithium-tlb_pages .pagination span a:visited,
.lithium-tlb_pages .pagination span a:active {
  background-color: transparent;
  color: var(--colorbis);
  font: 10px var(--font-text);
  width: 10px;
  height: 10px;
  padding: 0;
   margin: 0 1px;
}
/* .pagination span a:link, .pagination span a:visited, .pagination span a:active {
  background-color: var(--bgcolor);
  color: var(--colorfont);
  border-radius: 3px;
  display: inline-block;
  font-size: 10px;
  border: 1px solid var(--color03);
  border-radius: 100%;
  line-height: 1;
  margin: -5px 2px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 20px;
  height: 20px;
}
.pagination span a:link:hover, .pagination span a:visited:hover {
  background-color:var(--coloradd);
} */
.lithium-tlb_viewsreplies {
  font: 10px var(--font-text);
  color: var(--colornews);
  font-style: italic;
  text-align:right;
}
.lithium-tlb_descblock {
  display: flex;
  align-items: center;
  width: 925px;
  color: var(--bordercolor);
  gap: 10px;
  margin: -13px 10px;
  position:relative;
  z-index:99;
}
.lithium-tlb_descblock::before {
  content: "";
  order: 1;
  flex-grow:1;
  height: 1px;
  background: var(--gradient);
  opacity:0.5;
}
.lithium-tlb_topicdesc {
  order: 0;
  font: 12px var(--font-text);
  font-style: italic;
}
.lithium-tlb_lastpostinfos {
  order: 2;
  font: 11px var(--font-text);
  display:flex;
}
.lithium-tlb_lastpostinfos a img {
  width: 14px;
  height: 14px;
  object-fit: contain;
  display: block;
  border-radius: var(--mainradius);
  border: 1px solid var(--border);
  background: var(--color03);
}
.lithium-tlb_lastpostinfos strong {
  margin-left: 5px;
  background-color: var(--color03);
  padding: 0 10px;
  border-radius: var(--mainradius);
}
.lithium-tlb_blockava {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: -42px;
  position: relative;
}
.lithium-tlb_lastpostava {    
  width: 50px;
  height: 50px;
  margin: -2px 0;
  position: relative;
}
.lithium-tlb_lastpostava img {
  width:100%;
  height:100%;
  border: 5px solid var(--color03);
  border-radius:100%;
  object-fit:cover;
}
.topic-icon {
  top: 24%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--color03);
  height: 25px;
  position: absolute;
}
