.ls-memberlist_tle::before {
  content:"";
  display: block;
  width: 200px;
  height: 200px;
  background-image: var(--imgctg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  pointer-events: none;
}

.ls-memberlist_tle {
  margin: 100px 0 0 0;
  position:relative;
}
.ls-memberlist_tle > div {
  font: 35px var(--font-h3);
  background: var(--gradient);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
  padding:0 0 10px 0;
  text-align: center;
  border-bottom: 1px var(--border) solid;
  width: 100%;
  letter-spacing: 5px;
}
.ls-memberlist_tle > div::before {
  content: "";
  position: absolute;
  background-color: var(--color03);
  width: 1010px;
  height: 5px;
  border-radius: var(--mainradius);
  left: 0;
  z-index: -1;
  margin: 10px 0;
}
.ls-memberlist_blockaction {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.ls-memberlist_bgact {
  width: 100%;
  position:relative;
  padding: 20px 24px;
  border: 1px var(--border) solid;
  background-color: var(--color02);
  border-radius: var(--mainradius);
  color: var(--colorfont);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ls-memberlist_acttle {
  font: 20px var(--font-h2);
  background: var(--gradient);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid var(--border);
}
.ls-memberlist_form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;
  margin: 0;
}
.ls-memberlist_field label {
  border: 1px solid var(--border);
  padding: 7px 8px;
  border-radius: var(--radiusbis);
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font: 10px var(--font-text);
}
.ls-memberlist_btn,
.ls-memberlist_form select {
  padding: 3px 10px !important;
  border-radius: var(--radiusbis);
  background: var(--color03);
  border: 1px solid var(--border);
  color: var(--bordercolor) !important;
  outline: none;
  font: 12px var(--font-text);
  transition: 0.25s ease;
}
input[type="text"]:focus, .inputbox:focus {
  border-bottom: 1px solid var(--colornews);
}
.ls-memberlist_btn:focus,
.ls-memberlist_form select:focus {
  border-color: var(--colornews);
  box-shadow:
    0 0 0 3px rgba(255,255,255,0.05),
    0 0 20px rgba(255,255,255,0.05);
}
.ls-memberlist_button {
  background: var(--colorbis) !important;
  border: 1px var(--border) solid;
  cursor: pointer !important;
  padding: 5px 12px !important;
  border-radius: var(--radiusbis) !important;
  color: var(--colorfont) !important;
  font: 12px var(--font-text) !important;
  transition: 0.25s ease !important;
}
.ls-memberlist_button:hover {
  transform: translateY(-2px) scale(1.02);
  filter: brightness(1.1);
}
.ls-memberlist_bg {
  /* padding: 10px; */
  gap: 10px;
  /* background-color: var(--color02); */
  /* border: 1px solid var(--border); */
  /* border-radius: var(--radiusbis); */
  /* color: var(--colorfont); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
}
.ls-memberlist_members {
  position: relative;
  width: 246px;
  padding: 10px;
  border-radius: var(--radiusbis);
  background: var(--color03);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}
.ls-memberlist_avatar {
  width: 100%;
  height: 140px;
  border-radius: var(--mainradius);
  overflow: hidden;
}
.ls-memberlist_avatar img {
  max-width: 100% !important;
  object-fit: cover;
}
.ls-memberlist_pseudo {
  position: absolute;
  top: 29%;
  width: 190px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 4px 10px;
  border-radius: 10px;
  background: rgb(0 0 0 / .5);
  backdrop-filter: blur(6px);
}
.ls-memberlist_pseudo strong {
  color: var(--colorfont);
  font: 12px var(--font-text);
  font-weight: bold;
}
.ls-memberlist_pseudo.group-3 {
  background: rgba(193, 171, 123, 0.4);
}
.ls-memberlist_pseudo.group-4 {
  background: rgba(173, 121, 180, 0.6);
}
.ls-memberlist_pseudo.group-3,
.ls-memberlist_pseudo.group-4 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.ls-memberlist_stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
  margin-top: 10px;
  font-size: 11px;
}
.ls-memberlist_stats > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  border-radius: 8px;
  background: rgba(255,255,255,0.04);
  z-index: 0;
}
.ls-memberlist_stats > div::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 8px;
  opacity:0.5;
  background: var(--gradient);
  z-index: -1;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.ls-memberlist_stats span:first-child {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font: 10px var(--font-text);
}
.ls-memberlist_stats span:last-child {
  font-weight: 500;
  color: var(--bordercolor);
}
.ls-memberlist_mp {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  background: var(--color03);
  border: var(--border) solid 1px;
  transition: 0.25s ease;
}
.ls-memberlist_mp::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  mask-image: url("https://unpkg.com/lucide-static/icons/mail.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: 0.3s!important;
}
.ls-memberlist_mp:hover {
  transform: scale(1.15);
  background: var(--gradient)!important;
  color: var(--colorfont)!important;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15)!important;
}
input[type="text"], .inputbox {
  position:relative;
  background-color: #fff0;
  color: #444;
  border-bottom: var(--bordercolor) solid 1px;
  cursor: text;
  font-size: 1.2rem;
}
input[type="text"]:hover, .inputbox:hover {
  border:1px solid var(--colorbis);
}
